[submodule "DnaChisel"]
    path = DnaChisel
    url = https://github.com/Edinburgh-Genome-Foundrykylemeador/DnaChisel.git
[submodule "codon-usage-tables"]
	path = codon-usage-tables
	url = https://github.com/kylemeador/codon-usage-tables.git
