__pycache__
.DS_Store
.idea
dependencies/hhsuite
dependencies/alphafold
dependencies/_deps
dependencies/orient/orient_oligomer
dependencies/stride/stride
symdesign/data/databases/fragment_db/biological_interfaces
dependencies/ialign/bin/.svn/
