[submodule "ProteinMPNN"]
	path = ProteinMPNN
	branch = main
	url = https://github.com/kylemeador/ProteinMPNN.git
[submodule "python_codon_tables"]
	path = python_codon_tables
	branch = main
	url = https://github.com/kylemeador/codon-usage-tables.git
[submodule "DnaChisel"]
	path = DnaChisel
	branch = main
	url = https://github.com/kylemeador/DnaChisel.git
